<h2>Directives Concept implementaion : For Loop demo</h2>
<ul>
  <!--  print all person name -->
  <li *ngFor = "let item of people;let i = index">
    {{i}}  {{item.name}} {{item.age}}
  </li>
   
</ul>
================================
  <!-- show person who age is greater than 18-->

<ul *ngFor = "let user of people">

  <li *ngIf="user.age >=18">
    {{user.name}} {{user.age}}
  </li>

  <ng-container *ngIf="user.age >=18; then t1; else t2">

  </ng-container>

  <!-- apply if else condition -->
   <!-- *ngIf with then/else -->

  <ng-template #t1>
    <h4>run this code when condition is true</h4>
  </ng-template>

  
  <ng-template #t2>
   <h4> run this code when condition is false</h4>
  </ng-template>

</ul>


<h2>While loop</h2>
<div *ngFor="let num of numbers">
  Items:{{num}}
</div>