<h1>Communication between angular components:  IMP</h1>

<h3>parent cmp -to child cpm = @Input()</h3>

<h3>child cmp -to parent cpm = @Output()</h3>

<h3> 3. Between siblings</h3>


<h3>4. any cmp to any cmp -- irrespective of hierarchies</h3>

<p>used with a.) and b.) with points number 3 and point number 4</p>
<p>a) RXJS with services</p>
<p>b)  3rd party lib -- Redux / NGX </p>

<h3>Let us see Sibling communication</h3>

<app-sibling-demo></app-sibling-demo>

<hr>

<app-parent-a></app-parent-a>
