<h2>Step 1 — Simple Card Component</h2>
<div style="border: 1px solid #ccc; padding: 16px; border-radius: 8px; margin: 10px;">
    <ng-content></ng-content> ← projected content gets INSERTED here
  </div>


  <div class="card">

    <!-- 👇 select specific content by attribute -->
    <div class="card-header" style="background: #f5f5f5; padding: 10px;">
      <ng-content select="[card-header]"></ng-content>
    </div>

    <div class="card-body" style="padding: 10px;">
      <ng-content select="[card-body]"></ng-content>
    </div>

    <div class="card-footer" style="background: #f5f5f5; padding: 10px;">
      <ng-content select="[card-footer]"></ng-content>
    </div>

  </div>
